/***---------------------------------------------------
		Parametros e Instalacion de fuentes
---------------------------------------------------***/
@font-face {
    font-family: 'bentonsansbook';
    src: url('../fonts/bentonsans-book-webfont.eot');
    src: url('../fonts/bentonsans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bentonsans-book-webfont.woff') format('woff'),
         url('../fonts/bentonsans-book-webfont.ttf') format('truetype'),
         url('../fonts/bentonsans-book-webfont.svg#bentonsansbook') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'bentonsansmedium';
    src: url('../fonts/bentonsans-medium-webfont.eot');
    src: url('../fonts/bentonsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bentonsans-medium-webfont.woff') format('woff'),
         url('../fonts/bentonsans-medium-webfont.ttf') format('truetype'),
         url('../fonts/bentonsans-medium-webfont.svg#bentonsansmedium') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
    font-family: 'bentonsanslight';
    src: url('../fonts/bentonsans-light-webfont.eot');
    src: url('../fonts/bentonsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bentonsans-light-webfont.woff') format('woff'),
         url('../fonts/bentonsans-light-webfont.ttf') format('truetype'),
         url('../fonts/bentonsans-light-webfont.svg#bentonsanslight') format('svg');
    font-weight: normal; font-style: normal;

}
@font-face {
    font-family: 'austinitalic';
    src: url('../fonts/austin-italic-webfont.eot');
    src: url('../fonts/austin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/austin-italic-webfont.woff') format('woff'),
         url('../fonts/austin-italic-webfont.ttf') format('truetype'),
         url('../fonts/austin-italic-webfont.svg#austinitalic') format('svg');
    font-weight: normal; font-style: normal;
}
@font-face {
	font-family: 'Conv_Austin-Light';
	src: url('../fonts/Austin-Light.eot');
	src: local('☺'),
		 url('../fonts/Austin-Light.woff') format('woff'), 
		 url('../fonts/Austin-Light.ttf') format('truetype'), 
		 url('../fonts/Austin-Light.svg') format('svg');
	font-weight: normal; font-style: normal;
}
@font-face {
	font-family: 'Conv_Austin-Roman';
	src: url('../fonts/Austin-Roman.eot');
	src: local('☺'), 
		 url('../fonts/Austin-Roman.woff') format('woff'), 
		 url('../fonts/Austin-Roman.ttf') format('truetype'), 
		 url('../fonts/Austin-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/***---------------------------------------------------
			   Parametros por Defecto
---------------------------------------------------***/
.md-modal {
	position: fixed; z-index: 2000; top: 50%; left: 50%;
	max-width: 630px; height: auto;
	
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.md-show {visibility: visible;}
.md-overlay {
	position: fixed; z-index: 1000; top: 0; left: 0;
	width: 100%; height: 100%;
	visibility: hidden;
	
	opacity: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.md-show ~ .md-overlay {opacity: 1; visibility: visible;}
/* Content styles */
.md-content {position: relative; margin: 0 auto;}
.md-content img {
	background: #fff;
	margin:-55px 30px 0 30px; padding: 4px;
	position:absolute; top:50%;
}
.md-content > div {
	background:#fff;
	width:322px;
	margin: 0 0 0 180px; padding: 29px 29px 19px 29px;
	display:inline-block;
}
.md-content > div.terminos {width:503px; margin: 0;}
.md-content > div h1 {
	width:100%;
	color:#000;	_font-family: 'Conv_Austin-Roman'; font-family:"Times New Roman", Times, serif; font-weight:normal; text-align:left; font-size:20px;
	text-shadow:0px 0px 0px #000;
	border-bottom:dashed 1px #000;
	margin:0 0 15px 0;	padding: 0 0 13px 0;
}
.md-content > div p {
	width:100%;
	color:#000;	_font-family: 'bentonsansbook'; font-family: Arial, Helvetica, sans-serif; font-weight:normal; text-align:left; font-size:13px;
	text-shadow:0px 0px 0px #000;
	line-height:22px;
	margin:10px 0; padding: 0;
}
.md-content button {
	-webkit-appearance:none;  
	-webkit-border-radius:0px;
	
	background:rgba(252,147,21,0.5);
	width:35px; height:35px;
	border:0;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	overflow:hidden;
	position:absolute; top:-13px; right:-13px;
	display: block;
}
.md-content button span {
	background:#fc9315;
	width:27px; height:27px;
	color:#fff; font-size:20px;
	text-shadow: 0 0 0 #fff;
	text-align:center; 
	
	margin:-2px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	display: block;
}

.md-effect-9.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}
.md-effect-9 .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(-70deg);
	-moz-transform: rotateX(-70deg);
	-ms-transform: rotateX(-70deg);
	transform: rotateX(-70deg);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}
.md-show.md-effect-9 .md-content {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;
}